/**************************/
/*         Charts         */
/**************************/
.lineGraph, .barGraph, .doughnutGraph{
  @include element(container){
    width:99%;
  }

}
.barGraph, .doughnutGraph{
  @include element(container){
    @include brk-pt{
      width:49%;
    }

  }
}


#lineChart__nav{
  float: right;
  margin:14px;
  .currentChart{
    background-color: $emperor;
    color: white;
    padding:2px;
    border: 1px solid $green;
    border-radius: 5px;
  }
}
