.user__form{
  legend{
    padding: 15px;
  }
  p{
    text-align: left;
    margin:15px 0px;
    width:52%;
    @include brk-pt{
      margin:25px 0px;
    }
  }

  select{
    margin-top: 55px;
  }
  @include brk-pt{
      #save{
        width: 45%;
        float:left;
      }
      #cancel{
        width: 45%;
        float:right;
      }
  }
}
