.user__form{

  h4{
    text-align: left;
    margin:15px 0px;
    width:52%;
    @include brk-pt{
      margin:25px 0px;
    }
  }
  textarea, input, select{
    width: 100%;
    padding:0px;
    margin: 10px auto;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
  }
  select{
    margin-top: 55px;
  }
  @include brk-pt{
      #save{
        width: 45%;
        float:left;
      }
      #cancel{
        width: 45%;
        float:right;
      }
  }
}
