/**************************/
/*       NAVIGATION       */
/**************************/
header{
  flex-basis: 100vw;
  background-color: #525252;
  padding: 10px 0px;
  > ul{
    @include display(flex, null, null, space-around);
    ul{
      display: none;
      position: absolute;
      z-index: 100;
      top:70px;
      right:73px;
      margin: 0px;
      background-color:rgb(77,76,114);
      border: 2px solid rgb(77,76,114);
      border-radius: 5px;
      @include brk-pt{
        right:270px;
      }
    }
    ul::after{
      position: absolute;
      top: -10px;
      right: 12px;
      width: 0;
      height: 0;
      border-bottom: 10px solid #4d4c72;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      content: "";
    }
    li:first-of-type{
      flex-grow:2;
    }
    > li:last-of-type{
      border-left:1px solid #d7d7d7;
    }
  }
  #notes{
    li{
    display: block;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    border: 2px solid #4d4c72;

    }
    & li:hover{
      background-color: limegreen;
    }

  }

  img{
    float:left;
    width:50px;
    height:50px;
    margin:10px;
  }
  a{
    color: white;
    text-decoration: none;
    h3{
      float: right;
      margin:20px;
      width: 100px;
      font-size: 1rem;
      display:none;
      @include brk-pt{
        display: block;
      }
    }
  }
  h4{
    display:none;
    @include brk-pt{
      display:inline;

    }
  }
}
.show{
  display:block;
}
#alertNote{
  width: 11px;
  height: 5px;
  background-color: lime;
  border:1px solid #d7d7d7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 24px;
  right: 94px;
  @include brk-pt{
    right: 233px;
  }
}


li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-size: .8rem;
}

.nav__main{
  @include display(flex, 1, row wrap, space-around);
  background-color:#2d2d2d;
  a{
    height: 40px;
    margin-top: 10px;
    svg path{
      fill:#b8b8b8;
    }
  }
  svg{
    width: 35px;
    height: 100%;
    margin-left: 10px;
    @include brk-pt{
      margin-left: 27px;
    }
  }

  @include brk-pt{
    @include display(flex, 0 1 75px, column, flex-start);
  }

}

#current{
  border-bottom: 2px solid lightgreen;
  svg path{
    fill:white;
  }
  @include brk-pt{
    border-bottom: none;
    border-right: 2px solid lightgreen;
  }
}
