/**************************/
/*        Reusables       */
/**************************/
.flex{
    @include display(flex, 1, row wrap, space-around);
}

.searchbox{
  width:90%;
  padding: 20px;
  @include brk-pt{
    width: 70%;
    position: absolute;
    right: 0px;
    top: 96px;
    background-color: #2d2d2d;
  }
}

.autocomplete-items{
  border: 1px solid #d7d7d7;
}
.autocomplete-active{
  background-color: $green;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
  input {
    z-index: 100;
    display:none;
  }

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #6d6d6d;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
    content: "ON";
    height: 17px;
    width: 28px;
    padding: 6px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 20px;
    transition: 1s;
}


input:focus + .slider {
  box-shadow: 0 0 1px rgb(116,119,191);
}

input:checked + .slider {
  background-color: $green;
}

input:checked + .slider::before {
    transform: translateX(53px);
      content: "OFF";
}
