/**************************/
/*         FORMS          */
/**************************/
.socStats{
  position:relative;  
  svg{
    width:80%;
  }
}

.roundy{
  display: block;
  width:45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 5px;
  background-color: rgb(116,119,191);
}
