/**************************/
/*       TYPOGRAPHY       */
/**************************/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');
*{
  color:#ffb675;
  font-family: 'Cinzel', sarif;
  font-weight: bolder;
  transition: .5s;
}
h1,h2,h3,h4,legend{
  font-family: 'Cinzel Decorative', cursive;
  color: gold;
  text-shadow: 4px 4px 2px black;
}

h2{
  width:20%;
  height:50px;
  text-align: center;
  display: inline-block;
  margin:0px 0px 0px 20px;
  padding-top: 20px;
}

h3{
  margin: 15px;
  font-size: .9rem;
}
section h3{
  text-overflow: ellipsis;
}
header{
  li h1{
    font-size:1.5rem;
    display:inline-block;
  }
}

span{
  font-size: 15px;
  font-style: italic;
  color:$royal-purple;
}
