/**************************/
/*       TYPOGRAPHY       */
/**************************/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');
*{
  color:#a97548;
  font-family: 'Cinzel', sarif;
}
h1,h2,h3,h4{
  font-family: 'Cinzel Decorative', cursive;
  color: gold;
}

h2{
  width:20%;
  height:50px;
  text-align: center;
  display: inline-block;
  margin:0px;
  padding-top: 20px;
}

h3{
  margin: 15px;
  font-size: .9rem;
}

header{
  li h1{
    font-size:1.5rem;
    display:inline-block;
  }
}

span{
  font-size: 10px;
  font-style: italic;
  color:#a97548;
}
