/**************************/
/*        UserInfo        */
/**************************/
.userInfo{
  width: 100%;
  @include brk-pt{
    width:49%;
  }
  li{
    border-bottom: 1px solid $green;
    padding: 15px 0px;
    width: 95%;
    p{
      float:right;
      margin-top:40px;
    }
  }
  li:last-of-type{
    border-bottom: none;
  }
}

.noteBanner{
  width: 90%;
  background-color: $emperor;
  border: 1px solid $green;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  a{
    position:absolute;
    color:black;
    font-size: 2rem;
    top:0px;
    right:10px;
  }
}
