ul{
	padding:0;
	margin: 0px;
	section{
		display: inline-block;
	}
}

body{
	@include display(flex, null, row wrap, space-around);
	background-color:$ms-dark;
}

a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

main{
	width: 95%;
	margin: auto;

	@include brk-pt{
    width:90%;
  }

	> section:first-of-type{
		border-bottom:1px solid $green;
		@include brk-pt{
			& > aside:first-child, > form:first-child{
				border-right:1px solid $green;
			}
		}
	}

}

img{
  width:65px;
  height:65px;
	border: 3px $cape-alliser;
	border-style: groove ridge ridge groove;
  border-radius: 50%;
	box-shadow: 2px 2px 1px black;
}

article{
	@include display(flex, 0 1 30%, row wrap, space-around);
	margin-top: 15px;
	border: 1px solid $green;
	border-radius: 5px;
	background-color: $mine-shaft;
	padding:10px;
	min-width: 175px;
	box-shadow: 6px 6px 3px black;
}

fieldset{
   border:none;
}

form{
   width:90%;
   margin: auto;
   @include brk-pt{
     width:49%;
   }
}

button{
  width: 100%;
  margin: 10px auto;
  height:30px;
  border: 1px solid $green;
  border-radius: 5px;
  background-color:$emperor;
	box-shadow: 6px 6px 3px black;
  color: white;
	cursor: pointer;
	&:hover{
		background-color: $green;
	}
}


input{
  height:30px;
  display:block;
  margin: 10px auto;
}
 .flex aside, form{
  border-bottom: 1px solid $green;
}
textarea, input, select, option{
	padding:0px;
	margin: 10px auto;
	border: 1px solid $green;
	border-radius: 5px;
	width:100%;
	background-color: #6d6d6d;
	box-shadow: 6px 6px 3px black;
	color:black;
	&::placeholder{
		color:black;
	}
	&:focus, :active{
		border: 1px solid $green;
	}
}
